<mat-sidenav-container class="nav">
    <mat-sidenav mode="side" opened fixedInViewport=true fixedTopGap="64">
        <mat-nav-list class="sidenav">
            <a mat-list-item routerLink="/">
                <i class="material-icons"> 
                    home
                </i>
                Inicio
            </a>
            <a mat-list-item routerLink="/cadastro">
                <i class="material-icons"> 
                    how_to_reg
                </i>
                Cadastro
            </a>
        </mat-nav-list>
    </mat-sidenav>
    <mat-sidenav-content class="content">
        <router-outlet></router-outlet>
    </mat-sidenav-content>
</mat-sidenav-container>
