
    <mat-card class="home mat-elevation-z3">
        <mat-card-header>
            <mat-card-title class="title">Venha conferir as oportunidades!</mat-card-title>
        <mat-card-subtitle class="subtitle">
            A chance de torna seus dias melhores, fazendo um trabalho realmente de coração.
        </mat-card-subtitle>
        </mat-card-header>
        <mat-card-content>
            <img mat-card-image src="assets/img/img-home.jpg" alt="img-home">
            <p>
                Já pensou em trabalhar na Tv mais feliz do Brasil?
            </p>
            <div class = "flex-row"> 
                <div class =" cad">
                  <a routerLink= "/cadastro" > Cadastre-se </a>  
                </div> 
                <div class = "vag"> 
                  <a href="https://www.linkedin.com/company/sbt/jobs/">
                     Vagas abertas </a> 
                </div> 
          </div>
        </mat-card-content>
    </mat-card>       
